<div style="margin: 5em;">
<button (click)="login()">Login</button>
<button (click)="login2()">Login2</button>
<button (click)="logout()">Logout</button>
</div>

<router-outlet *ngIf="token"></router-outlet>
